mixin header(cartIsLink= false, className= "") 
  .header(class= className) 
    .menu 
      img(alt="_img", src=require("images/Burger.svg"))
    a.logo(href="index.html") 
      img(alt="_img", src=require("images/Logo.svg"))
    .icons 
      a.userIcon(href="user.html")
        img(alt="_img", src=require("images/User.svg"))
      if cartIsLink 
        a.cart(href="/order.html")
          img(alt="_img", src=require("images/Cart.svg"))
      else 
        .cart
          img(alt="_img", src=require("images/Cart.svg"))